.chart {
    -fx-background-color: #transparent;
    -fx-padding: 20;
}

.axis-label {
    -fx-text-fill: #fff;
}

.chart-title {
    -fx-text-fill: #fff;
    -fx-font-size: 16px;
}

.axis {
    -fx-tick-label-fill: #ffffff;
}

.chart-bar {
    -fx-background-radius: 8px;
    -fx-background-insets: 0, 1;
    -fx-padding: 5px;
}

.chart-plot-background {
    -fx-background-color: transparent;
}

.chart-vertical-grid-lines, .chart-horizontal-grid-lines {
    -fx-stroke: transparent;
}

.chart-content {
    -fx-background-color: transparent;
}

.default-color0.chart-bar {
    -fx-bar-fill: linear-gradient(to top, #535370, #252541);
}

.tooltip {
    -fx-background-color: rgba(26, 26, 37, 0.9);
    -fx-text-fill: #ffffff;
    -fx-padding: 10px;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
}
