.list-view {
    -fx-background-color: transparent;
    -fx-control-inner-background: transparent;
    -fx-border-color: #FFFFFF;
    -fx-border-width: 0.5px;
}

.list-cell {
    -fx-background-color: transparent;
    -fx-padding: 8px;
    -fx-spacing: 10px;
    -fx-text-fill: white;
    -fx-font-family: "Inter 24pt Bold";
    -fx-font-size: 15px;
    -fx-alignment: CENTER_LEFT;
}

.list-cell:hover {
    -fx-background-color: rgba(255, 255, 255, 0.08);
}

.list-cell:filled:selected {
    -fx-background-color: rgba(140, 82, 255, 0.35);
}

.check-box {
    -fx-text-fill: white;
   -fx-font-family: "Inter 24pt Bold";
}

.check-box .box {
    -fx-border-color: #8c52ff;
    -fx-border-width: 2px;
    -fx-background-color: transparent;
    -fx-background-radius: 3px;
    -fx-border-radius: 2px;
}

.check-box:selected .box {
    -fx-background-color: #8c52ff;
    -fx-border-color: #8c52ff;
    -fx-border-radius: 2px;
}

.check-box:selected .box .mark{
     -fx-shape: "M163.865,436.934c-14.406,0.006-28.222-5.72-38.4-15.915L9.369,304.966c-12.492-12.496-12.492-32.752,0-45.248l0,0   c12.496-12.492,32.752-12.492,45.248,0l109.248,109.248L452.889,79.942c12.496-12.492,32.752-12.492,45.248,0l0,0   c12.492,12.496,12.492,32.752,0,45.248L202.265,421.019C192.087,431.214,178.271,436.94,163.865,436.934z";
    -fx-background-color: white;
    -fx-scale-shape: false;
    -fx-scale-x: 0.025;
    -fx-scale-y: 0.025;
}

.label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-family: "System"
}

